
body{
    background-color: black;
    color: white;
}
#game-screen {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1536px;
  height: 100vh;
  background-image: url(images/Background1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 0;
}
h1{
    color:rgb(2, 172, 50);
    font-size: 65px;
    font-family: 'Press Start 2P';
    text-align: center; 
    margin-bottom:120px;
}

h2{
  color:rgb(1, 255, 1);
  font-size:40px;
  font-family: 'Press Start 2P';
  text-align: center;
}


h3{
    color:rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Press Start 2P';
    text-align: center;
    animation: growShrink .7s infinite alternate;
}
@keyframes growShrink {
  from {
    font-size: 27px;
  }
  to {
    font-size: 30px;
  }
}

#game-screen {
  background-image: url(images/Background1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;